
html, body {
    font-family: Consolas;
    background-color: var(--backgruond-color);
    padding: 0;
    margin: 0;
}

#game {
    height: 100vh;
    background-color: var(--background-color);
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100%;
}
#moneyDisplay {
    font-size: 2.2em;
    color: var(--text-color)
}

#productionLine {
    font-size: 3em;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0 0.2em;
    border-radius: 8px;
    border: 2px solid var(--black-accent-color);
    width: 80%;

}

#productionLine:focus {
    outline: none;
    background-color: var(--background-color-active);
}

#mpsDisplay {
    font-size: 1.5em;
    color: var(--text-color-subtle);
    margin: 10px;
}

#productionLineWarning {
    font-style: italic;
    margin: 0;
    padding: 0;
}

#productionLineContainer {
    display: flex;
    width: 80%;
}

#productionLineContainer select {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    border: 2px solid var(--black-accent-color);

}

#productionLineContainer select:hover {
    background-color: var(--background-color-active);
}

#productionLineContainer select:focus {
    outline: none;
}
